body {
    width: 320px;
    font-family: Arial, sans-serif;
}
  
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 16px 0;
}
li {
    padding: 0.25rem;
}
li:nth-child(odd) {
    background: #e5e5e5;
}
li:nth-child(even) {
    background: #ffffff;
}

h3,p {
    margin: 0;
}

#buttons {
    text-align: center;
    display: block;
}
.button {
    display: block;
    margin: 4px;
}