body {
    width: 320px;
    font-family: Arial, sans-serif;
}
  
ul {
    list-style-type: none;
    padding: 5px 5px 5px;
    margin: 16px 0;
    background: #e3e3e3;
}
li {
    padding: 0.25rem;
    background: #ffffff;
}
li:not(:first-child) {
    margin-top: 5px;
}

h3,p {
    margin: 0;
}